body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

h1{
    background-color: #2d2b80;
    color:#f4f4f4;
    text-align: center;
    padding: 30px;
    margin: 0;
}

.contenedor{
    width: 85%;
    max-width: 1100px;
    margin: 30px auto;
}

header{
    background-color:#ee3b3b;
    color:#f4f4f4;
    text-align: center;
    padding: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

nav{
    background-color:#3bafee;
    color:#f4f4f4;
    text-align: center;
    padding: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.contenido-principal{
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

aside{
    background-color: #605ee5;
    color:#f4f4f4;
    width: 62%;
    min-height: 220px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
}

section{
    background-color: #a3c957;
    color: white;
    width: 62%;
    min-height: 220px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
}

section p{
    margin-top: 0px;
    margin-bottom: 15px;
}

article {
  background-color: #7fa23d;
  color: white;
  padding: 14px;
  margin: 15px auto;
  width: 80%;
  font-weight: bold;

}

footer{
    background-color:#18a8f6;
    color:#f4f4f4;
    text-align: center;
    padding: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}