h1{
    text-align: center;
}
.contenido{
    text-align: center;
}
.contenido > ul{
    list-style-type: none;
}
img{
    max-width: 600px;
    margin: auto;
    display: block;
}
footer{
    text-align: center;
}