body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
}

header{
    background-color: #231643;
    color:white;
    padding:5px;
}

nav ul{
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-right: 15px;
}

.contenedor{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

aside{
    background-color:cadetblue;
    color:white;
    width:80%;
    padding: 20px;
    min-height: 220px;
    text-align: justify;
}

section{
    background-color: #a3c957;
    color:white;
    width: 20%;
    padding:20px;
    min-height: 220px;
    box-sizing: border-box;
}

article{
    background-color: #7fa23d;
    color:white;
    padding:14px;
    margin: 15px auto;
    width: 80%;
    font-weight: bold;
}

footer{
    background-color: #18a8f6;
    color:white;
    padding: 10px;
    font-weight: bold;
}

footer li{
    display:inline-block;
    margin-right: 10px;
}